html {
    font-family: "Courier New", monospace;
}

body {
    margin: 0 auto;
    width: 800px;
}

header {
    border: 3px solid red;
    width: 800px;
    height: 200px;
}

main {
    border: 3px solid coral;
    width: 800px;
    height: 400px;
    display: flex;
}

nav {
    border: 3px solid coral;
    width: 100px;
}

section {
    border: 3px solid coral;
    width: 700px;
}

footer {
    border: 3px solid black;
    width: 800px;
    height: 200px;
}